[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "static/files/cv_src"]
	path = static/files/cv_src
	url = https://github.com/allankevinrichie/Resume.git
